h1, h3, .order-list {
  font-family: 'Roboto', sans-serif;
}

h1 {
    padding-bottom: 20px;
}

.order-list {
  font-size: 14px;
}

.qr-code {
  display: none;
}

@media print {
  .order-list {
    display: none;
  }

  .qr-code {
    display: block;
  }
}
